{% extends 'index.html' %}

{% block content %}

<div class="modal-body">
    <div class="modal-header">
        <h2 class="modal-title">Change password </h2>
    </div>
    {% if validlink %}
    <div class="span12">
        <div class="span12 alignfeft flyright">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn btn btn-primary">Change password</button>
            </form>
        </div>
    </div>

    {% else %}
    <div class="span12">
        <div class="span12 alignfeft flyright">
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}