{% extends 'index.html' %}

{% block content%}
<div class="modal-body">
    <form method="post" action=".">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Forgot my password </h5>
        </div>

        <div class="span12">
            <div class="span3 alignfeft flyright">

                {{ form.as_p }}
            </div>
        </div>
        <div class="span12">
            <div class="span4 alignfeft flyLeft">
                <button type="submit" class="submit-btn btn btn-primary">Reset password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}