#content-wrapper {
    position: relative;
    max-width: 100vw;
    min-height: calc(100vh - 249px);
    overflow: hidden;
}

.about{
    font-color:white;
}

@media (max-width: 700px) {
    .table,
    .btn {
        font-size: 8px;
    }
}