<li><a href="{% url 'api:docs' %}" target="_blank"><i class="icon-book icon-white"></i> API</a></li>
{% if user.is_authenticated %}
    <li><a href="{% url 'account:redirect_home' %}"><i class="icon-home icon-white"></i> Homepage</a></li>
    <li><a class="logout-popup-button" ><i class="icon-user icon-white"></i> Logout</a></li>
{% else %}
    <li><a class="shipper-signup-popup-button" ><i class="icon-briefcase icon-white"></i> Become a Shipper</a></li>
    <li><a class="carrier-signup-popup-button" ><i class="icon-road icon-white"></i> Become a Carrier</a></li>
    <li><a class="login-popup-button" ><i class="icon-user icon-white"></i> Login</a></li>
{% endif %}