{% load static %}

<section class="section">
    <div class="container">
        <h4>Our Squad</h4>
        <div class="row span12">
            <div class="span3 offset1 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/isabela.png' %}" alt=""/>
                    <h3>Isabela Eifert</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/aline.png' %}" alt=""/>
                    <h3>Aline Kraemer</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/ester.png' %}" alt=""/>
                    <h3> Ester Fogaça</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>