{% extends 'base.html' %}

{% block navbar-options %} 
<li><a title="logout" href="{% url 'account:logout' %}" onclick="return confirm('Are you sure you want to logout?')">Logout</a></li> 
{% endblock navbar-options%}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
           <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
           </ul>
        </div>
    {% endif %}

<br/>
<br/>
<br/>
<br/>
<h5> Posted Loads </h5>



<section>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <!-- Create book button -->
    <button class="post-load btn btn-primary" type="button" name="button">Post Load</button>

    <script type="text/javascript">
        $(document).ready(function() {

            $(".post-load").modalForm({
                formURL: "{% url 'shipper:post_load' %}"
            });

        });
    </script>


</section>
{% endblock content %}


