<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h5 id="myModalLabel">Edit Price</h5>
    </div>

    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                <p class="help-block">{{ error }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="submit-btn btn btn-primary" data-dismiss="modal">Save</button>
    </div>
</form>