{% extends 'base.html' %}

{% block navbar-options %} 
<li><a title="logout" class="logout-popup-button" >Logout</a></li>
{% endblock navbar-options%}

{% block content %}
<br/>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.level_tag}}" role="alert">
   <ul class="messages">
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
   </ul>
</div>
{% endfor %}
{% endif %}

<div class="container">
   <div class="row-fluid">
      <div class="span12 main">
         <div class="control-label span3">
            <h3>Posted Loads</h3>
         </div>
         <div class="span2">
            <button class="post-load btn btn-block " type="button" name="button" style="border-radius: 20px;">
            <i class="fas fa-plus-circle"></i>
            Add New
            </button>
         </div>
      </div>
   </div>
</div>

<br/>

<div style="width:80%; margin: 0px auto;">
   <table id="tableShipperLoads" class="table" >
      <thead style="color:white; background-color: #4c4c4c;">
         <tr>
            <th>PICK UP</th>
            <th>REF.#</th>
            <th>ORIGIN</th>
            <th>DESTINATION</th>
            <th>STATUS</th>
            <th>PRICE</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th colspan=100%>Accepted Loads
            <th>
         </tr>
         {% for load in loads %}
            {% if load.status == 'accepted' %}
            <tr>
                <td>{{ load.pickup_date }}</td>
                <td>{{ load.ref }}</td>
                <td>{{ load.origin_city }}</td>
                <td>{{ load.destination_city }}</td>
                <td>{{ load.status }} by {{load.carrier.user.get_full_name}}</td>
                <td>${{ load.price }}</td>
                <td> </td>
                <td style="text-align: center;"><button type="button" class="btn">
                <i class="far fa-trash-alt"></i> Cancel</button>
                </td>
            </tr>
            {% endif %}
         {% endfor %}
      </tbody>
      <tbody>
         <tr>
            <th colspan=100%>Available Loads</th>
         </tr>
         {% for load in loads %}
            {% if load.status == 'available' %}
            <tr>
                <td>{{ load.pickup_date }}</td>
                <td>{{ load.ref }}</td>
                <td>{{ load.origin_city }}</td>
                <td>{{ load.destination_city }}</td>
                <td>{{ load.status }}</td>
                <td>${{ load.price }}</td>
                <td style="text-align: center;"><button type="button" class="btn ">
                <i class="far fa-edit"></i> Edit Rate</button>
                </td>
                <td style="text-align: center;"><button type="button" class="btn ">
                <i class="far fa-trash-alt"></i> Cancel</button>
                </td>
            </tr>
            {% endif %}
         {% endfor %}
      </tbody>
   </table>
   <br/> <br/> <br/>
</div>

<section>

   <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
         </div>
      </div>
   </div>

   <script type="text/javascript">
      $(document).ready(function() {
          $(".post-load").modalForm({
              formURL: "{% url 'shipper:post_load' %}"
          });
          $(".logout-popup-button").modalForm({
              formURL: "{% url 'account:logout_popup' %}" 
          });
      });
   </script>

</section>

{% endblock content %}