{%  extends 'base.html'%}
{% load static %}

<!-- navbar -->
{% block navbar-options %}

<li><a title="api doc" href="{% url 'api:docs' %}" target="_blank">API</a></li>
{% if user.is_authenticated %}
    <li><a title="home" href="{% url 'account:redirect_home' %}">Homepage</a></li>
    <li><a title="logout" class="logout-popup-button" >Logout</a></li>
{% else %}
    <li><a title="sign up shipper" class="shipper-signup-popup-button" >Become a Shipper</a></li>  
    <li><a title="sign up carrier" class="carrier-signup-popup-button" >Become a Carrier</a></li>   
    <li><a title="login" class="login-popup-button" >Login</a></li>   
{% endif %}

{% endblock navbar-options%}

{% block modal-content %}
<!-- Popups -->
<section>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
         </div>
      </div>
   </div>

   <script type="text/javascript" >
      $(document).ready(function() {
          $(".login-popup-button").modalForm({
              formURL: "{% url 'account:login' %}"
          });
          $(".shipper-signup-popup-button").modalForm({
              formURL: "{% url 'account:shipper_signup' %}"
          });
          $(".carrier-signup-popup-button").modalForm({
              formURL: "{% url 'account:carrier_signup' %}"
          });
          $(".logout-popup-button").modalForm({
              formURL: "{% url 'account:logout_popup' %}"
          });
      });
   </script>

</section>
{% endblock modal-content %}


{% block content %}


<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                     <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    <strong>LoadSmart Women </strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    <strong> AceleraDev </strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span10 alignright flyLeft">
                <h1 class="large about" >
                    Loadsmart is a New York company that facilitates how shippers and freight brokers find the right carriers to move their shipments.
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section class="section">
    <div class="container">
        <h4>Our Squad</h4>
        <div class="row span12">
            <div class="span3 offset1 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/isabela.png' %}" alt=""/>
                    <h3>Isabela Eifert</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/aline.png' %}" alt=""/>
                    <h3>Aline Kraemer</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/ester.jpeg' %}" alt=""/>
                    <h3> Ester Fogaça</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: API -->
<section id="api" class="section green">
   <div class="container" style="width: 80%;">
      <div id="left" style="float:left; width: 40%;">
         <h4 style="text-align: left;">API</h4>
         <h5>
            <p>
               Our API allows <strong>Shippers</strong> to: 
            </p>
         </h5>
         <h5>
            <p>
            <ul style="padding-left: 40px; color: white;">
               <li>Post Loads</li>
               <li>Get Available and Accepted Loads Information</li>
            </ul>
            </p>
         </h5>
         <h5>
            <p>
               Our API allows <strong>Carriers</strong> to: 
            </p>
         </h5>
         <h5>
            <p>
            <ul style="padding-left: 40px; color: white;">
               <li>Accept, Reject and Drop Loads</li>
               <li>Get Available, Accepted and Rejected Loads Information</li>
            </ul>
            </p>
         </h5>
         <br>
         <br>
         <div style="z-index: 1000000; position:relative;">
            <a class="btn"  href="{% url 'api:docs' %}" target="_blank">
            <strong>API Full Documentation</strong></a>
         </div>
      </div>
      <div id="right" style="float:right; width: 55%; height:470px; background-color: white; border-radius: 20px;">
         <br>
         <ul class="nav nav-pills" id="pills-tab" style="width:90%; margin: 0px auto;">
            <li class="active" style="width:50%; text-align:center; "><a href="#tab1" data-toggle="tab" style="border-radius: 10px;"> <strong>PYTHON </strong></a></li>
            <li style="width:50%; text-align:center;"><a href="#tab2" data-toggle="tab" style="border-radius: 10px;"> <strong>BASH </strong></a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab1" style="width:90%; margin: 0px auto;">
               <div>
                  <br>
                  <pre style="background-color: white; border-style: none;">import requests
url = "http://loadsmart-aceleradev.herokuapp.com/api/shipper/load/post/"

load = {
          "pickup_date": "2019-09-13",
          "ref": 3550,
          "origin_city": "Houston",
          "destination_city": "San Diego",
          "price": 1000
        }

headers = {'Authorization': 'Token 09211697a0acc58e598f18f13d6b1cd73ebd91e6'}

response = requests.post(url, json=load, headers=headers)
print(response.content)</pre>
               </div>
            </div>
            <div class="tab-pane" id="tab2" style="width:90%; margin: 0px auto;">
               <div>
                  <br>
                  <pre style="background-color: white; border-style: none;">curl -X POST \
    -H "Authorization: Token 09211697a0acc58e598f18f13d6b1cd73ebd91e6" \ 
    -H "Content-Type: application/json" \ 
    -d "{ 
         "pickup_date":"2019-09-13",
         "ref":"3550",
         "origin_city":"Houston",
         "destination_city":"San Diego",
         "price":1000
        }" \
    http://loadsmart-aceleradev.herokuapp.com/api/shipper/load/post/ </pre>
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock content %}