{%  extends 'base.html'%}
{% load static %}

<!-- navbar -->
{% block navbar-options %}

<li><a title="api doc" href="{% url 'api:docs' %}" target="_blank">API</a></li>
{% if user.is_authenticated %}
    <li><a title="home" href="{% url 'account:redirect_home' %}">Homepage</a></li>
    <li><a title="logout" class="logout-popup-button" >Logout</a></li>
{% else %}
    <li><a title="sign up shipper" class="shipper-signup-popup-button" >Become a Shipper</a></li>  
    <li><a title="sign up carrier" class="carrier-signup-popup-button" >Become a Carrier</a></li>   
    <li><a title="login" class="login-popup-button" >Login</a></li>   
{% endif %}

{% endblock navbar-options%}

{% block modal-content %}
<!-- Popups -->
<section>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
         </div>
      </div>
   </div>

   <script type="text/javascript" >
      $(document).ready(function() {
          $(".login-popup-button").modalForm({
              formURL: "{% url 'account:login' %}"
          });
          $(".shipper-signup-popup-button").modalForm({
              formURL: "{% url 'account:shipper_signup' %}"
          });
          $(".carrier-signup-popup-button").modalForm({
              formURL: "{% url 'account:carrier_signup' %}"
          });
          $(".logout-popup-button").modalForm({
              formURL: "{% url 'account:logout_popup' %}"
          });
      });
   </script>

</section>
{% endblock modal-content %}


{% block content %}


<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                     <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    <strong>LoadSmart Women </strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    <strong> AceleraDev </strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span10 alignright flyLeft">
                <h1 class="large about" >
                    Loadsmart is a New York company that facilitates how shippers and freight brokers find the right carriers to move their shipments.
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section class="section">
    <div class="container">
        <h4>Our Squad</h4>
        <div class="row span12">
            <div class="span3 offset1 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/isabela.png' %}" alt=""/>
                    <h3>Isabela Eifert</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/aline.png' %}" alt=""/>
                    <h3>Aline Kraemer</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/ester.jpeg' %}" alt=""/>
                    <h3> Ester Fogaça</h3>
                    <p>
                        Back-end developer
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: contact -->
<section id="contact" class="section green">
    <div class="container">
        <h4>API</h4>
        <p>
            Reque facer nostro et ius, cu persius mnesarchum disputando eam, clita prompta et mel vidisse phaedrum pri
            et. Facilisis posidonium ex his. Mutat iudico vis in, mea aeque tamquam scripserit an, mea eu ignota viderer
            probatus. Lorem legere consetetur ei
            eum. Sumo aeque assentior te eam, pri nominati posidonium consttuam
        </p>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span12">

            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>

{% endblock content %}